.c-img{
    width: 400px;
    height: 300px;
    margin-left: 400px;
}
.t{
    text-align: center;
    font-size: 20px;
}
.t1{
    padding: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}